{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h4>Вкусно<br>
                                и <br>
                                точка.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h4>Вкусно<br>
                                и <br>
                                точка.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span><h3>Меню</h3></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/cola1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Coca Cola</h3>
                            <p>Вкусная Coca Cola со льдом</p>
                            <span>95 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/2.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Биг Мак</h3>
                            <p>Вкусный бургер с говядиной</p>
                            <span>145 руб.</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/kart1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Картошка Фри</h3>
                            <p>Вкусная картошка с солью</p>
                            <span>99 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/chiken.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Чикен Мак Наггетс (6 шт)</h3>
                            <p>Курица в кляре.</p>
                            <span>160 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/icec1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Мороженое в стаканчике</h3>
                            <p>Вкусное мороженое</p>
                            <span>105 руб.</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/chiken.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Чикен Мак Наггетс (9 шт)</h3>
                            <p>Курица в кляре.</p>
                            <span>190 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/kart1.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Картошка Фри Большая</h3>
                            <p>Вкусная картошка с солью</p>
                            <span>119 руб.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="{% static 'img/burger/cc.png' %}" alt="">
                        </div>
                        <div class="info">
                            <h3>Чикен Бургер</h3>
                            <p>Вкусный бургер с курицей.</p>
                            <span>159 руб.</span>
                        </div>
                    </div>
                </div>
            </div>


    <!-- about_area_start -->
    <div class="about_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="about_thumb2">
                            <div class="img_1">
                                <img src="{% static 'img/about/non1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                        <div class="about_info">
                            <div class="section_title mb-20px">
                                <span>О нас</span>
                                <h3>Вкусно и точка <br>
                                        уже в твоем городе!</h3>
                            </div>
                            <p>Да-да, не удивляйтесь, мы уже здесь, в Ульяновске</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- about_area_end -->
{% endblock %}